﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue-resource@1.0.3/dist/vue-resource.min.js"></script>

    <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
</head>

<body>

</body>
</html>