﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/site.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.1"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <button type="button" class="btn btn-info btn-danger" data-toggle="modal" data-target="#myModal">Sepetim</button>

    <div id="app">

        <div id="mainarea">
            <router-view :price="totalprice"></router-view>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content project-details-popup">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-body">
                    <ul id="productList">
                        <p> Sepetim</p>
                        <li v-for="item in productlistarr" :key="item.name">
                            {{ item.name }}&nbsp;&nbsp; {{item.quantity}} Adet &nbsp;&nbsp; Fiyat : {{item.price}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script type="text/x-template" id="productlisttemp">
            <div id="tablecontainer">
                <h3>{{message}}</h3>
<table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ürün</th><th> Fiyat</th><th>Adet</th><th>Tutar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in productlistarr">
                            <td>{{item.name}}</td><td>{{item.unitprice}}</td>

                            <td><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" v-model='item.quantity' v-on:keyup="keyup(index,$event)"/></td>
                            <td>{{item.price}}</td>
                        </tr>
                    </tbody>
                </table>
         <div id="devambtncontainer">
                        <button id="devambtn" class="btn btn-success" v-on:click="routetopayment">Devam</button>
                    </div>
            </div>
    </script>
    <script type="text/x-template" id="paymenttemp">
            <div id="tablecontainer">
                <h3>{{message}}</h3>
                <table class= "table table-bordered">
                    <tr><td>Kredi Kartı No</td><td><input type="text" v-model='kredikartinfo.no'/></td></tr>
                    <tr><td>Geçerlilik ay/yıl</td>
                        <td>
                            <select v-model='kredikartinfo.gecerlilik'>
                                <option>12/16</option>
                                <option>01/17</option>
                                <option>02/17</option>
                                <option>03/17</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td>Kart Türü</td>
                        <td>
                            <select v-model='kredikartinfo.turu'>
                                <option>Master</option>
                                <option>Visa</option>
                            </select>
                        </td>
                    </tr>
                </table>

                    <div id="backbtncontainer">
                        <button id="backbtn" class="btn btn-danger" v-on:click="routetoprodlist">Geri </button>
                    </div>
                    <div id="devambtncontainer">
                        <button id="devambtn" class="btn btn-success"v-on:click="routetoshipment">Devam </button>
                    </div>
                </div>
            </div>
    </script>
    <script type="text/x-template" id="shipmenttemp">
            <div id="tablecontainer">
                <h3>{{message}}</h3>
                <table class="table table-bordered">
                    <tr><td>Kargo Firması</td>
                        <td>
                            <select v-model='kargo'>
                                <option>Firma A</option>
                                <option>Hızlı Kargo</option>
                                <option>Kargo B</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Adres</td>
                        <td>
                            <textarea rows="5" cols="30" v-model='adres'></textarea>
                        </td>
                    </tr>
                </table>
                    <div id="backbtncontainer">
                        <button id="backbtn" class="btn btn-danger" v-on:click="routetopayment">Geri (Ödeme)</button>
                    </div>
                    <div id="devambtncontainer">
                        <button id="devambtn" class="btn btn-success" v-on:click="routetoapprovement">Onayla </button>
                    </div>
                </div>
            </div>
    </script>
    <script type="text/x-template" id="approvementtemp">

        <div class="contain">
	<div class="congrats">
		<h1>Tebikler !, Siparişiniz Alınmıştır.<span class="hide">ulation</span></h1>
		<div class="done">
			<svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
<path class="circ path" style="fill:#0cdcc7;stroke:#07a796;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
	/>
<polyline class="tick path" style="fill:none;stroke:#fff;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
	11.6,20 15.9,24.2 26.4,13.8 "/>
</svg>
			</div>
		<div class="text">
                    <p>Siparişiniz onaylandı. Toplam Ödeme Tutarı {{price}}</p>
	</div>
</div>
            <div id="tablecontainer">

            </div>

    </script>
    <script src="~/js/priv.js"></script>

    <style>
    </style>

    <script>
        $(function () {

            // Vars
            var modBtn = $('#modBtn'),
                modal = $('#modal'),
                close = modal.find('.close'),
                modContent = modal.find('.modal-content');

            // open modal when click on open modal button
            modBtn.on('click', function () {
                modal.css('display', 'block');
                modContent.removeClass('modal-animated-out').addClass('modal-animated-in');
            });

            // close modal when click on close button or somewhere out the modal content
            $(document).on('click', function (e) {
                var target = $(e.target);
                if (target.is(modal) || target.is(close)) {
                    modContent.removeClass('modal-animated-in').addClass('modal-animated-out').delay(300).queue(function (next) {
                        modal.css('display', 'none');
                        next();
                    });
                }
            });

        });
    </script>
</body>
</html>
